{{> header}}
<div class="table-responsive">
    <h2 class="titleForm">My Advertisements</h2>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        {{#each adverts}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>
                    <a class="button" href="#/details/:{{_id}}">Details</a>
                    <a class="button" href="#/editAd/:{{_id}}">Edit</a>
                    <a class="button" href="#/deleteAd/:{{_id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
{{> footer}}