{{> header}}
<div class="detailed-view"><img
        src="{{advert.imageUrl}}"><br>
    <h1>{{advert.title}}</h1>
    <label>Description</label>
    <p>{{advert.description}}</p>
    <div>{{advert.price}}</div>
    <div>Published by {{advert.publisher}}</div>
    <div>{{advert.date}}</div>
</div>
{{> footer}}